/* Cube Layout */
.cube-container {
  perspective: 800px;
  max-width: 200px;
	text-align: center;
	margin: 0 auto 4.5em;
}

.container1 {
	width: 94.02985075%;
	max-width: 1260px;
	padding: 0 2.25em 4em;
}

.cube-container h1 {
  color: #b4caf5;
}

.container1,
.content {
  margin: auto;
}

/* Cube Transitions and Transforms */
.cube {
  transition: transform 3s ease-in-out;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube:hover {
  transform: rotateY(-270deg);
}

/* Cube Side Positioning */
.front,
.back,
.left,
.right {
 width: 100%;
 height: 100%;
 display: block;
 position: absolute;
}

.front {
  transform: translateZ(100px)
}

.back {
  transform: translateZ(-100px) rotateY(270deg);
  transform-origin: center left;
}

.left {
  transform: rotateY(-270deg)  translate3d(100px, 0, 0);
  transform-origin: top right;
}

.right {
  transform: translateZ(-100px) rotateY(180deg);
}
