.cube-container {
  perspective: 800px;
}

.cube {
  transition: transform 3s ease-in-out;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube:hover {
  transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
 width: 100%;
 height: 100%;
 display: block;
 position: absolute;
}

.front {
  transform: translateZ(100px);
  z-index: 200;
}

.back {
  transform: translateZ(100px) rotateY(90deg);
}

.left {
  transform: rotateY(-90deg)  translate3d(100px, 0, 0);
  transform-origin: top right;
}

.right {
  transform: translateZ(-100px) rotateY(180deg);
}