body {
  background: #132f47;
}

* {
	box-sizing: border-box;
}

/* Header */
header h1 {
  background: rgba(17, 73, 121, 0.75); 
  color: rgba(255, 255, 255, 1);
}

.container a.navbar-brand {
  display: none;
}

header div.jumbotron {
  background-image: url('img/img-card/Brooklyn-Bridge-Park-Jumbo-Image.jpg');
  opacity: 0.8;
}

header div.jumbotron .container p {
  color: black;
  background: #309EFE;
}

/*Movie Card Anchor Tags*/
.anchor {
  display: block;
  height: 65px; /*same height as header*/
  margin-top: -65px; /*same height as header*/
  visibility: hidden;
}

.anchor1 {
  display: block;
  height: 163px; /*same height as header*/
  margin-top: -163px; /*same height as header*/
  visibility: hidden;
}

.anchor2 {
  display: block;
  height: 60px; /*same height as header*/
  margin-top: -60px; /*same height as header*/
  visibility: hidden;
}

/* Youtube */
div div.titanic-youtube {
  display: flex;
  justify-content: center;
}

.youtube {
  width: 300px;
  height: 168px;
  margin-bottom: 25px;
}

/* Form */
.row div form {
  width: 100%;
}

/* Free Image */
.free-img {
  width: 300px;
  height: 300px;
}

/* Schedule */
.schedule1 .schedule p span:first-of-type,
small span:first-of-type {
  opacity: 0;
}

div .list-group-item p {
  display: block!important;
}

.small-schedule {
  margin-right: 30px;
  display: flex;
}

/* Sponsors */
.sponsors {
  width: 95px;
  height: 95px;
  border: solid black 2px;
  margin: 3px;
}

/* Location Image */
.location {
  width: 300px;
  height: 223px;
}

/* Social Media Icons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
                                                                                            
.fa:hover {
  opacity: 0.7;
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;    
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border: solid white 1px;
    margin-top: 1px;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border: solid white 1px;
    margin-top: 1px;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border: solid white 1px;
    margin-top: 1px;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border: solid white 1px;
    margin-top: 1px;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border: solid white 1px;
    margin-top: 1px;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border: solid white 1px;
    margin-top: 1px;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

/* Media Queries */

/* Navbar Tagline */
@media(min-width: 480px) {
  .container a.navbar-brand {
    display: flex;
  }
}

/* Youtube Video */ 
@media (min-width: 576px) {
  div div.titanic-youtube .youtube {
    width: 504px;
    height: 283.5px;
  }
}

/* Free Image */
@media(min-width: 480px) {
  div .free-img {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 576px) {
  div .free-img {
    width: 450px;
    height: 450px;
  }
}

/* Schedule */
@media(min-width: 480px) {
  div .list-group-item p {
    display: flex!important;
  }
}

/* Sponsor Images */
@media(min-width: 480px) {
  div img.sponsors {
    width: 150px;
    height: 150px;
  }
}

@media(min-width: 576px) {
  div img.sponsors {
    width: 165px;
    height: 165px;
  }
}

/*Location Image */
@media(min-width: 480px) {
  .location {
    width: 400px;
    height: 300px;
  }
}

@media (min-width: 576px) {
  .location {
    width: 475px;
    height: 356.25px;
  }
}

/* Copyright Information */
@media (min-width: 1000px) {
  .copy {
    margin-top: 27px;
  }
}

/*Bottom Footer*/
@media (min-width: 1425px) {
  .copy {
    margin-top: 43px;
  } 
  .footer-list {
    margin-top: 35px;
  }
  .footer-icon {
    margin-top: 17.5px;
  }
}

